<div class="container">
  <div class="card">
    <h3 class="text-center">Section List</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <div class="form-group form-inline">
            Search section
            <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
              (input)="search($event.target.value)" placeholder="name" />
          </div>
        </div>
        <div class="col-4">
          <a href="/add_section" class="btn btn-primary">Add</a>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <th>Id Section</th>
          <th>Name</th>
          <th>Menu</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of sectionSet | listFilterName: searchTerm ; let i = index ">
            <td>{{item.id_section}}</td>
            <td>{{item.name}}</td>
            <td>{{item.menu_id}}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="triggerModal(modalData, item)">
                Edit </button>
              &nbsp;
              <button class='btn btn-danger btn-sm' (click)="deleteSection(item.id_section)">
                Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Section</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div style="width: 400px; margin: auto;">
      <div class="submit-form">

        <div class="form-group">
          <label for="id_section">Id</label>
          <input disabled type="text" class="form-control" id="id_section" required [(ngModel)]="currentSection.id_section"
            name="id_section" />
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="currentSection.name" name="name" />
        </div>

        <div class="form-group">
          <label for="menu_id">Menu</label>
          <select class="form-control" [(ngModel)]="currentSection.menu_id" name="menu_id" id="menu_id">
            <option *ngFor="let item of menuSet" [value]="item.id_menu">{{item.name}}</option>
          </select>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updateSection()"
      (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>