<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <a href="#" class="navbar-brand">SAR</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="list_table" class="nav-link">Table</a>
      </li>
      <li class="nav-item">
        <a routerLink="list_menu" class="nav-link">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="list_section" class="nav-link">Section</a>
      </li>
      <li class="nav-item">
        <a routerLink="list_product" class="nav-link">Product</a>
      </li>
      <li class="nav-item">
        <a routerLink="list_order" class="nav-link">Order</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

